<a href="/auth/google_oauth2">Sign in with Google</a>

<h1> Log In </h1>

<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>

<%= form_tag login_path do %>

  <div class="field">
    <%= label_tag :name %>
    <%= text_field_tag :name %>
  </div>
  <div class=”field”>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class=”actions”>
    <%= submit_tag "Log In" %>
  </div>
  <% end %>
  
  <h4> OR </h4>

  <h1> Sign Up </h1>

  <%= button_to "New User Signup", new_user_path, :method => "get" %>