<h2>Log in or sign up to manage your recipes and clients!</h1>
<%= form_for @user, url: login_path, method: :post do |f| %>
  <%= f.label :name, 'Username:' %>
  <%= f.text_field :name %><br>

  <%= f.label :password, 'Password:' %>
  <%= f.password_field :password %><br>

  <%= f.submit "Log In" %> 
  <br>
  <br>
  If you do not have an account, please clink the link below to signup:
  <br><%= link_to(controller: 'users', action: 'new') { button_to "Sign Up" } %>
<% end %>