<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>

<h1>Login</h1>
<%= form_tag login_path %>

  <div class="field">
    <%= label_tag :name %>
    <%= text_field_tag :name %>
  </div>
  <div class=”field”>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class=”actions”>
    <%= submit_tag :login %>
  </div>

Or<br>

<%= link_to "New User Signup", new_user_path, class: "form-button" %>