<%= form_for [@client, @restriction] do |f| %>

    <% if @restriction.errors.any? %>
        <% @restriction.errors.full_messages.each do |msg| %>
            <%= msg %>
        <% end %>
    <% end %>

    <p><%= f.label :name, "Restriction Type: "%>
    <%= f.text_field :name %></p>

    <p><%= f.submit %></p>
<% end %>