<%= form_for @recipe do |f| %>
    <%= f.hidden_field :user_id, :value => @user.id %>
    <p><%= f.label :name, "Recipe Name: "%>
    <%= f.text_field :name %><br>

    <%= f.label :meal, "Meal Type: " %>
    <%= f.text_field :meal %><br>

    <%= f.label :serves, "Serving Size: "%>
    <%= f.number_field :serves %></p>

    <%= f.fields_for :ingredients do |ing|  %>
       
       <%= ing.label :name, "Ingredient: " %>
       <%= ing.text_field :name %>

       <%= ing.label :quantity, "Quantity: " %>
       <%= ing.text_field :quantity %>
       
       <%= ing.label :unit, "Unit: " %>
       <%= ing.text_field :unit %>

    <% end %>

    <p><%= f.label :instructions, "Instructions: "%>
    <%= f.text_area :instructions, size: "105x5" %></p>

    <%# <p><%= f.fields_for :recipe_ingredients do |a|  %> <%# something about nesting and iterating is creating duplicates in the edit/update acitons %>
       
       <%# <%= a.label :allergy, "Recipe Allergies: " %>
       <%# <%= a.text_field :allergy %>

    <%# <% end %></p>

    <%= f.submit %>

<% end %>