<%= form_for @recipe do |f| %>
    <%= f.hidden_field :user_id, :value => @user.id %>
    <p><%= f.label :name, "Recipe Name: "%>
    <%= f.text_field :name %><br>

    <%= f.label :meal, "Meal Type: " %>
    <%= f.text_field :meal %><br>

    <%= f.label :serves, "Serving Size: "%>
    <%= f.number_field :serves %></p>

    <%= f.fields_for :ingredients do |ing|  %>
       
       <%= ing.label :name, "Ingredient: " %>
       <%= ing.text_field :name %>

       <%= ing.label :quantity, "Quantity: " %>
       <%= ing.text_field :quantity %>
       
       <%= ing.label :unit, "Unit: " %>
       <%= ing.text_field :unit %>

    <% end %>

    <p><%= f.label :instructions, "Instructions: "%>
    <%= f.text_area :instructions, size: "105x5" %></p>

    <%= f.submit %>

<% end %>