<%= form_for @recipe do |f| %>

    <% if @recipe.errors.any? %>
        <% @recipe.errors.full_messages.each do |msg| %>
            <%= msg %>
        <% end %>
    <% end %>


    <%= f.hidden_field :user_id, :value => @user.id %>
    <p><%= f.label :name, "Recipe Name: "%>
    <%= f.text_field :name %><br>

    <%= f.label :meal, "Meal Type: " %>
    <%= f.text_field :meal %><br>

    <%= f.label :serves, "Serving Size: "%>
    <%= f.number_field :serves %></p>

        <%= f.fields_for :ingredients do |ing|  %>
        
            <%= ing.label :name, "Ingredient: " %>
            <%= ing.collection_select(:name, Ingredient.all, :name, :name, :include_blank => true) %>

            <%= ing.label :quantity, "Quantity: " %>
            <%= ing.text_field :quantity %>
    
            <%= ing.label :unit, "Unit: " %>
            <%= ing.text_field :unit %>

        <% end %>
        <br>
        <br>
        <%= f.fields_for :ingredients do |ing|  %>
       
            <%= ing.label :name, "Ingredient: " %>
            <%= ing.text_field :name %>

            <%= ing.label :quantity, "Quantity: " %>
            <%= ing.text_field :quantity %>
       
            <%= ing.label :unit, "Unit: " %>
            <%= ing.text_field :unit %>

        <% end %>

    <p><%= f.label :instructions, "Instructions: " %>
    <%= f.text_area :instructions, size: "105x5" %></p>

    <p><%= f.label :allergy, "Recipe Allergies: " %>
    <%= f.text_field :allergy %></p>

    <%= f.submit %>

<% end %>