<h1>Your Recipes</h1>

<h3><font color="CornFlowerBlue">Breakfasts:</font></h3>

<%= render partial: "recipe_meal", locals: {meals: @breakfasts } %>

<h3><font color="CornFlowerBlue">Lunches:</font></h3>

<%= render partial: "recipe_meal", locals: {meals: @lunches } %>

<h3><font color="CornFlowerBlue">Dinners:</font></h3>

<%= render partial: "recipe_meal", locals: {meals: @dinners } %>

<p><%= button_to "Create a Recipe", new_recipe_path, :method => "get" %></p>

<p><%= button_to "Homepage", root_path, :method => "get" %></p>

<br>
<br>
THE FOLLOWING IS TO REFERENCE UNTIL I FIX THE "DOWNCASE" PROBLEM

<% @recipes.each do |recipe| %>

    <p><%= link_to recipe.name, recipe %></p>

<% end %>