<h1>Your Recipes</h1>

<section class="todoapp">
	<section class="main" style="display: block;">
		<ul class="todo-list">

            <h3><font color="CornFlowerBlue">Breakfasts:</font></h3>

            <%= render partial: "recipe_meal", locals: {meals: @recipes.food_by_meal("breakfast") } %>

            <h3><font color="CornFlowerBlue">Lunches:</font></h3>

            <%= render partial: "recipe_meal", locals: {meals: @recipes.food_by_meal("lunch") } %>

            <h3><font color="CornFlowerBlue">Dinners:</font></h3>

            <%= render partial: "recipe_meal", locals: {meals: @recipes.food_by_meal("dinner") } %>

        </ul>
	</section>
</section>

<%= form_with(url: "/search", method: "get") do %>

    <%=label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
    
<% end %>

<p><%= button_to "Create a Recipe", new_recipe_path, :method => "get" %></p>

<p><%= button_to "Homepage", root_path, :method => "get" %></p>