
<h1>Create a New Recipe</h1>

<%= form_for @recipe do |f| %>
    <%= f.hidden_field :user_id, :value => @user.id %>
    <%= f.label :name, "Recipe Name: "%>
    <%= f.text_field :name %><br>

    <%= f.label :serves, "Serving Size: "%>
    <%= f.number_field :serves %><br>

    <%# line 36 needs the .build method DJ said to use (instead of controller, I assume) %>
    <%= f.fields_for :ingredients do |i|  %>
    <%# figure out how to incorporate option for adding however many ingredients %>
       
       <%= i.label :name, "Ingredient" %>
       <%= i.text_field :name %><br>

       <%= i.label :quantity, "Quantity: " %>
       <%= i.text_field :quantity %><br>
       
       <%= i.label :unit, "Unit: " %>
       <%= i.text_field :unit %><br>


    <% end %>
    <br>

    <%= f.submit %>
<% end %>

