<h2><%= @recipe.name %></h2>

<p><label>Meal Type: </label><%= @recipe.meal.humanize %></p>

<p><label>Serves: </label><%= @recipe.serves %></p>

<section class="todoapp">
	<section class="main" style="display: block;">
		<ul class="todo-list">

        <%= table_for @recipe.ingredients do -%>
          <% columns :name, :quantity, :unit %>
        <% end %>

        <h4><label>Instructions: </label></h4>
        <%= @recipe.instructions %>

    </ul>
	</section>
</section>

<section class="todoapp">
	<section class="main" style="display: block;">
		<ul class="todo-list">

        <h4><%= @recipe.name %> Allergens:</h4> 
        <%= @recipe.allergy %></h4>

        <p> ** SHOW CLIENT'S INDIVIDUAL ALLERGIES HERE (as they relate to specific recipe) **</p>

        <%= find_restrictions(@clients, @recipe) %>

    </ul>
	</section>
</section>

<p><%= button_to "Edit #{@recipe.name}", edit_recipe_path, :method => "get" %></p>

<p><%= button_to "Add another recipe", new_recipe_path, :method => "get" %></p>

<p><%= button_to "View All Your Recipes", recipes_path, :method => "get" %></p>

<p><%= button_to "Homepage", root_path, :method => "get" %></p>