<h2><%= @recipe.name %></h2>

<p><label>Serves: </label><%= @recipe.serves %></p>
<P><h3>Ingredients | Quantity | Unit Type</h3></P>
  <% @recipe.ingredients.each do |ingredient| %>
      <p><%= ingredient.name %> |
      <%= ingredient.quantity %> |
      <%= ingredient.unit %></p>
  <% end %>

<p><%= @recipe.instructions %></p>