<h2><%= @recipe.name %></h2>

<p><label>Serves: </label><%= @recipe.serves %></p>

<P><h3>Ingredients | Quantity | Unit Type</h3></P>

  <% @recipe.ingredients.each do |attr| %>
      <p><%= attr.name %> |
      <%= attr.quantity %> |
      <%= attr.unit %></p>
  <% end %>

<p><%= @recipe.instructions %></p>

<%= button_to "Homepage", root_path, :method => "get" %>