<h2><%= @recipe.name %></h2>

<p><label>Serves: </label><%= @recipe.serves %></p>

<P><h3>Ingredients | Quantity | Unit Type</h3></P>

<section class="todoapp">
	<section class="main" style="display: block;">
		<ul class="todo-list">

        <% @recipe.ingredients.each do |attr| %>
          <p><%= attr.name %> |
          <%= attr.quantity %> |
          <%= attr.unit %></p>
        <% end %>

        <p><%= @recipe.instructions %></p>

    </ul>
	</section>
</section>

<p><%= button_to "Edit #{@recipe.name}", edit_recipe_path, :method => "get" %></p>

<p><%= button_to "Add another recipe", new_recipe_path, :method => "get" %></p>

<p><%= button_to "Homepage", root_path, :method => "get" %></p>