<h1> New User Signup </h1>

<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>

<%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>

 <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |msg| %>
      <h3><%= msg %></h3>
    <% end %>
  <% end %>

  <%= f.label :name, 'Username:' %>
  <%= f.text_field :name %><br>

  <%= f.label :password, 'Password:' %>
  <%= f.password_field :password %><br>

  <%= f.label :password_confirmation, 'Confirm Your Password:' %>
  <%= f.password_field :password_confirmation %><br>

  <%= f.submit "Create New User" %>
<% end %>

<p><%= button_to "Back to Login", login_path, :method => "get" %></p>