<%= form_for @client do |f| %>
    <p><%= f.label :name, "Client Name: "%>
    <%= f.text_field :name %></p>

    <%= f.fields_for :restrictions do |r|  %>
       
       <br><%= r.label :name, "Restriction: " %>
       
       <%= r.collection_select(:name, Restriction.all, :name, :name, :include_blank => true) %>

    <% end %>

    <%= f.fields_for :restrictions do |r|  %>
       
        <br><%= r.label :name, "Restriction: " %>
         <%= r.text_field :name %>
         
     <% end %>

    <p><%= f.submit %></p>
<% end %>