<h3><%= @client.name %></h3>

<section class="todoapp">
<p><%= @client.name %>'s <label>restrictions: </label></p>
	<section class="main" style="display: block;">
		<ul class="todo-list">

            <% @client.restrictions.each do |attr| %>
            <p><%= link_to attr.name, client_restriction_path(@client, attr) %></p>
            <% end %>

        </ul>
	</section>
</section>

<p><%= button_to "Edit #{@client.name}", edit_client_path, :method => "get" %></p>

<p><%= button_to "Add another client", new_client_path, :method => "get" %></p>

<p><%= button_to "View All Your Clients", clients_path, :method => "get" %></p>

<p><%= button_to "Homepage", root_path, :method => "get" %></p>