<!DOCTYPE html>
<html>


<section class="todoapp">
	<header class="header">
		<h1>Mealzys</h1>
	</header>


  <head>
    <title>Mealzys</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

</section>

  <body>
  <%= yield %>
  </body>
</html>

